.form {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.container {
    width: 300px;
}

.city {
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
}

.find {
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    background-color: black;
}

.defaultName {
    color: Blue;
    text-decoration: underline;
    cursor: pointer;

}

.errorBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #de3b3b;
    background-color: #f3bfbf;
    border-radius: 5px;
    margin: 10px 0;
}
